body{
    background-color: black;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 0px 50px;
}
.center{
    text-align: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding: 16px;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
footer img{
    width: 40px;
    height: 40px;
}
footer p{
    font-size: large;
}
footer a {
    text-align: center;
    margin: 20px;
}
footer a:hover{
    transform: scale(1.05);
    transition: .3s;
}
footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}
nav a:hover{
    color: pink;
    font-size: 110%;
    transition: .6s;
}
nav a{
    font-size: large;
}
header h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: pink;
}
header hr{
    color: aliceblue;
}